/*AUN*/

.clear {
    clear: both;
}

.text-padding-30 {
    padding-bottom: 30px;
}

.block-content {}

.block-health li {
    padding: 0 0 30px 0;
}

.img-health {
    float: left;
    width: 30%;
}

.content-heallth {
    float: left;
    width: 65%;
    padding: 0 0 0 5%;
}

.content-heallth ul {
    padding: 0px;
}

.content-heallth li {
    padding: 0 0 20px 0;
    list-style: lower-alpha !important;
    margin: 0 0 0 15px;
}

.list-heallth {
    margin: 0 0 20px 15px;
}

.list-heallth ul {
    margin: 0 0 0 15px;
}

.list-heallth li {
    list-style: disc !important;
    padding: 0;
}


/*Contact*/

.blokc-contact-map {
    padding: 0 0 30px 0;
}

.blokc-contact-map iframe {
    width: 100%;
    height: 350px;
}


/*News*/

.block-news li {
    width: calc(100%/2);
    display: grid;
    float: left;
    padding: 0 10px 30px 10px;
}

.news-img {
    padding: 0 0 10px 0;
}

.news-date {
    font-size: 10px;
    text-align: right;
    padding: 0 0 5px 0;
}

.news-content {
    font-size: 18;
    font-weight: bold;
}


/*About Us*/

.about-02-img {
    padding: 0 0 0 0;
}

.about-02-img .img-left {
    float: left;
}

.about-02-img .img-right {
    float: left;
}

.about-02-img li {
    padding: 0;
    margin: 0;
    width: calc(100%/2);
    display: grid;
    float: left;
    padding: 0 10px;
}

.about-02-img img {
    width: 100%;
    padding: 0 0 20px 0;
}


/* .about-02-img li:last-child {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    float: non;
} */

.about-03-img {
    padding: 0 0 30px 0;
}

.about-03-img li {
    padding: 0;
    margin: 0;
    width: calc(100%/2);
    display: grid;
    float: left;
}

.about-03-img li:last-child {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    float: non;
}


/*05 Partner*/

.about-05-partner {
    padding: 0 0 30px 0;
}

.about-05-partner li {
    width: calc(100%/2);
    padding: 0 10px;
    float: left;
    display: grid;
}

.about-05-partner img {
    width: 100%;
}

.about-05-map li {
    width: calc(100%/2);
    padding: 0 10px;
    float: left;
    display: grid;
}


/*05 Map*/

.about-05-map {
    padding: 0 0 30px 0;
}

.about-05-map iframe {
    width: 100%;
    height: 350px;
}


/*Sitemap*/

.block-sitemap li {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    padding: 0 0 10px 0;
}

.block-sitemap li a {
    color: #000;
    text-decoration: underline;
}

.block-sitemap li ul {
    font-size: 16px;
    padding: 0 0 0 30px;
    font-weight: normal !important;
}

.block-sitemap li ul li a {
    font-size: 16px;
    padding: 0 0 15px 0;
    color: #ea5504;
    text-decoration: underline;
}

ul.list-global-top {
    list-style: none;
    width: 100%;
    margin: auto;
    text-align: center;
}

.list-global-top li {
    display: inline-block;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .12);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .12);
    margin-right: -6px;
}

/.list-global-top li:last-child {
    display: inline-block;
    border-right: none;
}

.list-global-top li a {
    padding: 15px 22px;
    text-align: center;
    display: block;
    color: #5d6164;
    border-top: 3px solid #FFF;
}

.list-global-top li a:hover {
    color: #ea5504;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    ul.list-global-top {
        padding: 5px 0;
    }
    .list-global-top li {
        width: calc(98%/2);
        display: inline-block;
        border-right: 1px solid rgba(0, 0, 0, .12);
        margin-bottom: 5px;
    }
    /* .list-global-top li:nth-child(2),
    .list-global-top li:nth-child(4),
    .list-global-top li:nth-child(6) {
        display: inline-block;
        border-right: none;
    } */
    .list-global-top li a {
        padding: 5px;
        text-align: center;
        display: block;
        color: #5d6164;
        border-top: 3px solid #FFF;
    }
}

/*Cookie*/
.fv-cookie {
    z-index: 9998;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: 2.5rem 0;
    background: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .fv-cookie__wrap {
    line-height: 1.5rem;
    max-width: 1366px;
    margin: 0 auto;
    color: #000;
  }
  
  .fv-cookie__wrap a {
    text-decoration: none;
    color: #ea5504;
  }
  
  .fv-cookie__wrap a:hover {
    color: #000;
    opacity: 0.7;
  }
  
  .fv-cookie__button {
    display: block;
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
    border: none;
    background-color: #ea5504;
    color: #FFFF;
    appearance: none;
    border: 1px solid #ea5504;
    transition: all 0.3s ease;
  }
  .fv-cookie__button:hover {
    background-color: #FFF;
    color: #ea5504;
  }
  .fv-cookie__wrap__text {
    margin: 0 0 15px 0;
    line-height: 1.5;
  }
  @media screen and (min-device-width: 320px) and (max-device-width: 767px) {

    .fv-cookie {
      padding: 2.5rem;
    }
  
    .fv-cookie__button {
      display: block;
      width: 50%;
      padding: 0.8rem 0;
      margin: auto;
      text-align: center;
  }
  }
  @media (min-width: 768px) {
    .fv-cookie__wrap__text {
      margin: 0;
    }
  
    .fv-cookie__button {
      display: inline-block;
      width: auto;
      padding: 5px 15px;
    }
  
    .fv-cookie__wrap {
      display: table;
    }
  
    .fv-cookie__wrap__text,
    .fv-cookie__wrap__action {
      display: table-cell;
      vertical-align: middle;
    }
  
    .fv-cookie__wrap__text {
      padding-right: 15px;
    }
  }
  
  .box-cookies-detail {
    border-bottom: 1px solid var(--grey_1);
  }
  
  .box-cookies-detail .detail {
    margin: 1.5rem 0.8rem;
  }
  

  /*20230426*/
.box-info-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.8rem;
    padding-bottom: 30px;
  }
  
  .box-info-contact .item {
    border: 1px solid #ea5504;
    padding: 1.8rem;
    min-height: 135px;
  }
  
  .box-info-contact .item ul {
    padding-left: 1.8rem;
  }
  
  .box-info-contact .item li {
    list-style: square !important;
  }
  
  .box-info-contact .item li::marker {
    color: #ea5504;
    font-size: 18px;
  }
  
  @media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .box-info-contact {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  

  
  /*List 1*/
.box-list-1 {
  padding-left: 40px;
}
.box-list-1 li {
  list-style: disc;
}
.box-list-1 li::marker{color: #000;}
.box-list-1 li strong {
  color: #000;
}
.box-list-1 ul li ul {
  padding-left: 40px;
}
.box-list-1 ul li ul li {
  list-style: circle;
}

/*table*/
.box-table-01 table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: .5rem;
}

.box-table-01 table th {
  color: #000;
  text-align: center;
  font-weight: 700;
}
.box-table-01 table th ,
.box-table-01 table td {
  border: 1px solid #797979;
  padding: 10px 20px;
  vertical-align: middle;
}
.box-table-01 table th:nth-child(1) {
  width: 40%;
}
.box-table-01 table th:nth-child(2) {
  width: 20%;
}

.box-table-01 table th:nth-child(3) {
  width: 40%;
}
.box-table-01 table td p {
  margin-bottom: 10px ;
}
.box-table-01 table td p:last-child {
  margin-bottom: 0px ;
}



  