@charset "utf-8";
/* CSS Document */

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_full, .col_half {
    display: inline;
    float: left;
    margin-right: 30px;
}

.col_half {
    width: 348px;
}

.row .col_1.lastCol, .row .col_2.lastCol, .row .col_3.lastCol, .row .col_4.lastCol, .row .col_5.lastCol, .row .col_6.lastCol, .row .col_7.lastCol, .row .col_8.lastCol, .row .col_9.lastCol, .row .col_10.lastCol, .row .col_11.lastCol, .row .col_full.lastCol, .row .col_half.lastCol {
    margin-right: 0;
}

#content .row .col_half p {
    margin: 4px 0 0;
}


#content .row h2 {
    font-size: 148%;
    font-weight: bold;
    line-height: 1.3;
    margin: 35px 0 0;
}